<div class="ContainerForHomePage">
  <div class="First-slide">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="gradient"></div>
          <img
            src="../../../../assets/1.jpg"
            class="w-100 img-fluid desktop"
            alt="1"
          />
          <img
            src="../../../../assets/1.phone.jpg"
            class="w-100 img-fluid phone"
            alt="1"
          />
          <div class="movie-info">
            <div class="title">
              <img
                src="../../../../assets/1.title.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="Description-of-film">
              <div>Netflix . IMDB: 8.5 . 2023</div>
              <div>
                revealing Uhtred's destiny and determining the fate of England.
                The film introduces important new character Ingilmundr, who
                manipulates Aethelstan through a secret relationship, ultimately
                leading to his execution.
              </div>
            </div>
            <div class="Save-to-watch-button flex-row">
              <div>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="17"
                    viewBox="0 0 14 17"
                    fill="none"
                  >
                    <path
                      d="M12.8093 7.53675L2.62993 1.00758C2.41645 0.871108 2.17227 0.796479 1.92231 0.791304C1.67234 0.78613 1.42554 0.850596 1.2071 0.978122C0.988653 1.10565 0.806387 1.29167 0.678903 1.5172C0.551419 1.74272 0.483282 1.99968 0.481445 2.26185V15.3202C0.483282 15.5823 0.551419 15.8393 0.678903 16.0648C0.806387 16.2904 0.988653 16.4764 1.2071 16.6039C1.42554 16.7314 1.67234 16.7959 1.92231 16.7907C2.17227 16.7856 2.41645 16.7109 2.62993 16.5745L12.8093 10.0453C13.0145 9.91427 13.1842 9.73006 13.3019 9.5104C13.4196 9.29073 13.4814 9.04299 13.4814 8.79102C13.4814 8.53904 13.4196 8.2913 13.3019 8.07163C13.1842 7.85197 13.0145 7.66776 12.8093 7.53675ZM2.17706 14.7808V2.80119L11.5142 8.79102L2.17706 14.7808Z"
                      fill="white"
                    />
                  </svg>
                </span>
                <span>ფილმის ყურება</span>
              </div>
              <div>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="18"
                    viewBox="0 0 14 18"
                    fill="none"
                  >
                    <path
                      d="M1.48145 15.6689V2.1446C1.48145 1.89564 1.55416 1.73939 1.68937 1.60447L1.6909 1.60294C1.82581 1.46774 1.98207 1.39502 2.23103 1.39502H11.7319C11.9808 1.39502 12.1371 1.46774 12.272 1.60295L12.2735 1.60447C12.4087 1.73939 12.4814 1.89564 12.4814 2.1446V15.6689L7.37609 13.4761L6.98145 13.3066L6.58681 13.4761L1.48145 15.6689Z"
                      stroke="#147CF6"
                      stroke-opacity="0.9"
                      stroke-width="2"
                    />
                  </svg>
                </span>
                <span>შენახვა</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="gradient"></div>
          <img
            src="../../../../assets/2.jpg"
            class="w-100 img-fluid desktop"
            alt="2"
          />
          <img
            src="../../../../assets/2.phone.jpg"
            class="w-100 img-fluid phone"
            alt="1"
          />
          <div class="movie-info">
            <div class="title">
              <img
                src="../../../../assets/2.2.title.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="Description-of-film">
              <div>Netflix . IMDB: 8.2 . 2024</div>
              <div>
                In a world of gifted hunters and monsters, a weak hunter Sung
                Jinwoo gains extraordinary powers through a mysterious program,
                leading him to become one of the strongest hunters and
                conquering even the strongest dungeons.
              </div>
            </div>
            <div class="Save-to-watch-button flex-row">
              <div>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="17"
                    viewBox="0 0 14 17"
                    fill="none"
                  >
                    <path
                      d="M12.8093 7.53675L2.62993 1.00758C2.41645 0.871108 2.17227 0.796479 1.92231 0.791304C1.67234 0.78613 1.42554 0.850596 1.2071 0.978122C0.988653 1.10565 0.806387 1.29167 0.678903 1.5172C0.551419 1.74272 0.483282 1.99968 0.481445 2.26185V15.3202C0.483282 15.5823 0.551419 15.8393 0.678903 16.0648C0.806387 16.2904 0.988653 16.4764 1.2071 16.6039C1.42554 16.7314 1.67234 16.7959 1.92231 16.7907C2.17227 16.7856 2.41645 16.7109 2.62993 16.5745L12.8093 10.0453C13.0145 9.91427 13.1842 9.73006 13.3019 9.5104C13.4196 9.29073 13.4814 9.04299 13.4814 8.79102C13.4814 8.53904 13.4196 8.2913 13.3019 8.07163C13.1842 7.85197 13.0145 7.66776 12.8093 7.53675ZM2.17706 14.7808V2.80119L11.5142 8.79102L2.17706 14.7808Z"
                      fill="white"
                    />
                  </svg>
                </span>
                <span>ფილმის ყურება</span>
              </div>
              <div>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="18"
                    viewBox="0 0 14 18"
                    fill="none"
                  >
                    <path
                      d="M1.48145 15.6689V2.1446C1.48145 1.89564 1.55416 1.73939 1.68937 1.60447L1.6909 1.60294C1.82581 1.46774 1.98207 1.39502 2.23103 1.39502H11.7319C11.9808 1.39502 12.1371 1.46774 12.272 1.60295L12.2735 1.60447C12.4087 1.73939 12.4814 1.89564 12.4814 2.1446V15.6689L7.37609 13.4761L6.98145 13.3066L6.58681 13.4761L1.48145 15.6689Z"
                      stroke="#147CF6"
                      stroke-opacity="0.9"
                      stroke-width="2"
                    />
                  </svg>
                </span>
                <span>შენახვა</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="gradient"></div>
          <img
            src="../../../../assets/3 - Copy.jpg"
            class="w-100 img-fluid desktop"
            alt="3"
          />
          <img
            src="../../../../assets/3.phone.jpg"
            class="w-100 img-fluid phone"
            alt="1"
          />
          <div class="movie-info">
            <div class="title">
              <img
                src="../../../../assets/3.title.png"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="Description-of-film">
              <div>Netflix . IMDB: 8.5 . 2024</div>
              <div>
                An epic that details the checkered rise and fall of French
                Emperor Napoleon Bonaparte and his relentless journey to power
                through the prism of his addictive, volatile relationship with
                his wife, Josephine.
              </div>
            </div>
            <div class="Save-to-watch-button flex-row">
              <div>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="17"
                    viewBox="0 0 14 17"
                    fill="none"
                  >
                    <path
                      d="M12.8093 7.53675L2.62993 1.00758C2.41645 0.871108 2.17227 0.796479 1.92231 0.791304C1.67234 0.78613 1.42554 0.850596 1.2071 0.978122C0.988653 1.10565 0.806387 1.29167 0.678903 1.5172C0.551419 1.74272 0.483282 1.99968 0.481445 2.26185V15.3202C0.483282 15.5823 0.551419 15.8393 0.678903 16.0648C0.806387 16.2904 0.988653 16.4764 1.2071 16.6039C1.42554 16.7314 1.67234 16.7959 1.92231 16.7907C2.17227 16.7856 2.41645 16.7109 2.62993 16.5745L12.8093 10.0453C13.0145 9.91427 13.1842 9.73006 13.3019 9.5104C13.4196 9.29073 13.4814 9.04299 13.4814 8.79102C13.4814 8.53904 13.4196 8.2913 13.3019 8.07163C13.1842 7.85197 13.0145 7.66776 12.8093 7.53675ZM2.17706 14.7808V2.80119L11.5142 8.79102L2.17706 14.7808Z"
                      fill="white"
                    />
                  </svg>
                </span>
                <span>ფილმის ყურება</span>
              </div>
              <div>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="18"
                    viewBox="0 0 14 18"
                    fill="none"
                  >
                    <path
                      d="M1.48145 15.6689V2.1446C1.48145 1.89564 1.55416 1.73939 1.68937 1.60447L1.6909 1.60294C1.82581 1.46774 1.98207 1.39502 2.23103 1.39502H11.7319C11.9808 1.39502 12.1371 1.46774 12.272 1.60295L12.2735 1.60447C12.4087 1.73939 12.4814 1.89564 12.4814 2.1446V15.6689L7.37609 13.4761L6.98145 13.3066L6.58681 13.4761L1.48145 15.6689Z"
                      stroke="#147CF6"
                      stroke-opacity="0.9"
                      stroke-width="2"
                    />
                  </svg>
                </span>
                <span>შენახვა</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="Second-slide">
    <div class="movies-type">
      <span class="movies-type-name">ფილმები</span>
      <span class="see-all">
        <span>ყველას ნახვა</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M1.6665 10H18.3332M18.3332 10L10.8332 2.5M18.3332 10L10.8332 17.5"
              stroke="white"
              stroke-width="2"
            />
          </svg> </span
      ></span>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner slide list">
        <ng-container *ngFor="let movie of movieslist; let i = index">
          <div class="carousel-item active">
            <div class="movie-card">
              <img src="{{ movie.img }}" alt="i" />
              <div class="movies-title">{{ movie.title }}</div>
               <div class="hover-info">
              <div class="movie-title">{{ movie.title }}</div>
              <div>
                <div class="imdb">IMDB : {{ movie.imdb }}</div>
                <div class="genre">{{ movie.genre }}</div>
                <div class="description">{{ movie.description }}</div>
              </div>
              <div class="watch-icons">
                <span class="watch-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="22"
                    viewBox="0 0 18 22"
                    fill="none"
                  >
                    <path
                      d="M16.7334 9.41269L3.22594 1.15051C2.94267 0.977816 2.61865 0.883378 2.28696 0.87683C1.95526 0.870282 1.62777 0.951859 1.33791 1.11323C1.04804 1.27461 0.806183 1.51 0.637018 1.79539C0.467852 2.08078 0.377437 2.40594 0.375 2.73769V19.2621C0.377437 19.5938 0.467852 19.919 0.637018 20.2044C0.806183 20.4898 1.04804 20.7252 1.33791 20.8865C1.62777 21.0479 1.95526 21.1295 2.28696 21.1229C2.61865 21.1164 2.94267 21.0219 3.22594 20.8493L16.7334 12.5871C17.0058 12.4213 17.2309 12.1882 17.3871 11.9102C17.5434 11.6322 17.6254 11.3187 17.6254 10.9999C17.6254 10.681 17.5434 10.3675 17.3871 10.0896C17.2309 9.81158 17.0058 9.57849 16.7334 9.41269ZM2.625 18.5796V3.42019L15.015 10.9999L2.625 18.5796Z"
                      fill="#147CF6"
                    />
                  </svg>
                </span>
                <span class="watch-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="18"
                    viewBox="0 0 14 18"
                    fill="none"
                  >
                    <path
                      d="M1.5 15.8778V2.35359C1.5 2.10463 1.57272 1.94837 1.70793 1.81346L1.70945 1.81193C1.84437 1.67672 2.00062 1.604 2.24958 1.604H11.7504C11.9994 1.604 12.1556 1.67672 12.2905 1.81193L12.2921 1.81346C12.4273 1.94837 12.5 2.10462 12.5 2.35359V15.8778L7.39464 13.6851L7 13.5156L6.60536 13.6851L1.5 15.8778Z"
                      stroke="#147CF6"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
            </div>
            </div>
           
          </div>
        </ng-container>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        (click)="prevtslide(1)"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        (click)="nextslider(1)"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="Third-slide">
    <div class="movies-type">
      <span class="movies-type-name">სერიალები</span>
      <span class="see-all">
        <span>ყველას ნახვა</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M1.6665 10H18.3332M18.3332 10L10.8332 2.5M18.3332 10L10.8332 17.5"
              stroke="white"
              stroke-width="2"
            />
          </svg> </span
      ></span>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner slide list">
        <ng-container *ngFor="let movie of serieslist; let i = index">
          <div class="carousel-item active">
            <div class="Series-card">
              <img src="{{ movie.img }}" alt="i" />
              <div class="movies-title">{{ movie.title }}</div>
               <div class="hover-info">
              <div class="movie-title">{{ movie.title }}</div>
              <div>
                <div class="imdb">IMDB : {{ movie.imdb }}</div>
                <div class="genre">{{ movie.genre }}</div>
                <div class="season">სეზონი : {{movie.season?.length}}</div>
                <div></div>
                <div class="description">{{ movie.description }}</div>
              </div>
              <div class="watch-icons">
                <span class="watch-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="22"
                    viewBox="0 0 18 22"
                    fill="none"
                  >
                    <path
                      d="M16.7334 9.41269L3.22594 1.15051C2.94267 0.977816 2.61865 0.883378 2.28696 0.87683C1.95526 0.870282 1.62777 0.951859 1.33791 1.11323C1.04804 1.27461 0.806183 1.51 0.637018 1.79539C0.467852 2.08078 0.377437 2.40594 0.375 2.73769V19.2621C0.377437 19.5938 0.467852 19.919 0.637018 20.2044C0.806183 20.4898 1.04804 20.7252 1.33791 20.8865C1.62777 21.0479 1.95526 21.1295 2.28696 21.1229C2.61865 21.1164 2.94267 21.0219 3.22594 20.8493L16.7334 12.5871C17.0058 12.4213 17.2309 12.1882 17.3871 11.9102C17.5434 11.6322 17.6254 11.3187 17.6254 10.9999C17.6254 10.681 17.5434 10.3675 17.3871 10.0896C17.2309 9.81158 17.0058 9.57849 16.7334 9.41269ZM2.625 18.5796V3.42019L15.015 10.9999L2.625 18.5796Z"
                      fill="#147CF6"
                    />
                  </svg>
                </span>
                <span class="watch-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="18"
                    viewBox="0 0 14 18"
                    fill="none"
                  >
                    <path
                      d="M1.5 15.8778V2.35359C1.5 2.10463 1.57272 1.94837 1.70793 1.81346L1.70945 1.81193C1.84437 1.67672 2.00062 1.604 2.24958 1.604H11.7504C11.9994 1.604 12.1556 1.67672 12.2905 1.81193L12.2921 1.81346C12.4273 1.94837 12.5 2.10462 12.5 2.35359V15.8778L7.39464 13.6851L7 13.5156L6.60536 13.6851L1.5 15.8778Z"
                      stroke="#147CF6"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
            </div>
            </div>
           
          </div>
        </ng-container>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        (click)="prevtslide(2)"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        (click)="nextslider(2)"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="Fourth-slide">
    <div class="movies-type">
      <span class="movies-type-name">ანიმაციები</span>
      <span class="see-all">
        <span>ყველას ნახვა</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M1.6665 10H18.3332M18.3332 10L10.8332 2.5M18.3332 10L10.8332 17.5"
              stroke="white"
              stroke-width="2"
            />
          </svg> </span
      ></span>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner slide list">
        <ng-container *ngFor="let movie of animationlist; let i = index">
          <div class="carousel-item active">
            <div class="Series-card">
              <img src="{{ movie.img }}" alt="i" />
              <div class="movies-title">{{ movie.title }}</div>
               <div class="hover-info">
              <div class="movie-title">{{ movie.title }}</div>
              <div>
                <div class="imdb">IMDB : {{ movie.imdb }}</div>
                <div class="genre">{{ movie.genre }}</div>
                <div class="season" *ngIf="movie.season?.length">სეზონი : {{movie.season?.length}}</div>
                <div class="description">{{ movie.description }}</div>
              </div>
              <div class="watch-icons">
                <span class="watch-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="22"
                    viewBox="0 0 18 22"
                    fill="none"
                  >
                    <path
                      d="M16.7334 9.41269L3.22594 1.15051C2.94267 0.977816 2.61865 0.883378 2.28696 0.87683C1.95526 0.870282 1.62777 0.951859 1.33791 1.11323C1.04804 1.27461 0.806183 1.51 0.637018 1.79539C0.467852 2.08078 0.377437 2.40594 0.375 2.73769V19.2621C0.377437 19.5938 0.467852 19.919 0.637018 20.2044C0.806183 20.4898 1.04804 20.7252 1.33791 20.8865C1.62777 21.0479 1.95526 21.1295 2.28696 21.1229C2.61865 21.1164 2.94267 21.0219 3.22594 20.8493L16.7334 12.5871C17.0058 12.4213 17.2309 12.1882 17.3871 11.9102C17.5434 11.6322 17.6254 11.3187 17.6254 10.9999C17.6254 10.681 17.5434 10.3675 17.3871 10.0896C17.2309 9.81158 17.0058 9.57849 16.7334 9.41269ZM2.625 18.5796V3.42019L15.015 10.9999L2.625 18.5796Z"
                      fill="#147CF6"
                    />
                  </svg>
                </span>
                <span class="watch-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14"
                    height="18"
                    viewBox="0 0 14 18"
                    fill="none"
                  >
                    <path
                      d="M1.5 15.8778V2.35359C1.5 2.10463 1.57272 1.94837 1.70793 1.81346L1.70945 1.81193C1.84437 1.67672 2.00062 1.604 2.24958 1.604H11.7504C11.9994 1.604 12.1556 1.67672 12.2905 1.81193L12.2921 1.81346C12.4273 1.94837 12.5 2.10462 12.5 2.35359V15.8778L7.39464 13.6851L7 13.5156L6.60536 13.6851L1.5 15.8778Z"
                      stroke="#147CF6"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
            </div>
            </div>
           
          </div>
        </ng-container>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        (click)="prevtslide(3)"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        (click)="nextslider(3)"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="Fifth-slide">
    <div class="movies-type">
      <span class="movies-type-name">მსახიობები</span>
      <span class="see-all">
        <span>ყველას ნახვა</span>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M1.6665 10H18.3332M18.3332 10L10.8332 2.5M18.3332 10L10.8332 17.5"
              stroke="white"
              stroke-width="2"
            />
          </svg> </span
      ></span>
    </div>
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner slide list">
        <ng-container *ngFor="let actor of aActorsActressesList; let i = index">
          <div class="carousel-item active">
            <div class="Series-card">
              <img src="{{ actor.img }}" alt="i" />
              <div class="movies-title">{{ actor.name}}</div>
            </div>
           
          </div>
        </ng-container>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        (click)="prevtslide(4)"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        (click)="nextslider(4)"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>








