@media screen and (min-width:1024px) {
    .person-page {
        padding: 72px 56px 0 56px;

        .person {
            margin-top: 100px;
            margin-bottom: 70px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            background: #212327;
            padding: 20px 20px;

            .img-name {
                padding: 20px 20px;
                display: flex;
                flex-direction: row;
                border-right: 10px solid #282830;
                width: 50%;
                margin-right: 2%;

                img {
                    width: 170px;
                    height: 180px;
                    border-radius: 8px;
                    object-fit: cover
                }

                .name {
                    padding-bottom: 20px;
                    
                    margin-bottom: 25px;
                    color: #FFF;

                    font-family: "Noto Sans Georgian";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 26px;
                }

                div {
                    span {
                        color: #999FA7;

                        font-family: "Noto Sans Georgian";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    }

                    margin-left: 10px;
                    color: #FFF;
                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 5px;
                }
            }

            .info {
                width: 80%;
                height: 100%;
                border-radius: 8px;
                background: #212327;
                margin-left: 20px;
                color: #FFF;
                font-family: "Noto Sans Georgian";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 5px;
            }

        }

        .list {
            width: 100%;
            padding-bottom: 76px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 56px;
            grid-column-gap: 24px;
            padding-bottom: 100px;

            .Series-card {
                position: relative;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 278px;

                    border-radius: 4px;
                    margin-bottom: 12px;
                    object-fit: cover;

                }

                .movies-title {
                    overflow: hidden;
                    color: #FFF;
                    text-overflow: ellipsis;
                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    height: 36px;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: unset;
                }

                &:hover {


                    .hover-info {
                        display: block;
                        opacity: 1;
                    }
                }

            }

            .hover-info {
                opacity: 0;
                cursor: auto;

                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4px;
                background: rgba(33, 35, 39, 0.95);
                width: 100%;
                height: 326px;
                padding: 13px;

                .movie-title {
                    color: #FFF;
                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #343434;
                    margin-bottom: 16px;
                }

                .imdb {
                    color: #FFF;
                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 4px;
                }

                .genre,
                .season {
                    color: #7A7C7F;
                    font-family: "Noto Sans Georgian";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 5px;
                }

                .description {
                    padding-top: 7px;
                    color: #FFF;
                    font-family: "Noto Sans Georgian";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: unset;
                }

                .watch-icons {

                    position: absolute;
                    bottom: 16px;

                    .watch-icon {
                        padding: 9.5px 11px;
                        cursor: pointer;
                        margin-right: 8px;

                        svg {
                            width: 18px;
                            height: 21px;
                        }
                    }
                }


            }

        }
    }
}