@import './style/desktop';
@import './style/tablet';
@import './style//mobile';
.registration {
    font-family: "Noto Sans Georgian";
   position: relative;
 img { 
        object-fit: cover;
        width: 100%;
        filter: blur(9px);
        -webkit-filter: blur(8px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .registraion-card {
        
        display: inline-flex;
        border: 1px solid #101014;
        background: #17181C;

        .registr {
            text-align: center;
            color: #FFF;
         
         
            font-weight: 500;
            border-bottom: 1px solid #212327;

        }

        input {
           
            border-radius: 8px;
            background: #212327;
            color: #7A7C7F;
            border: 1px solid #212327;
        
            font-weight: 500;
            line-height: 24px;

        }

        button {
           
            background: rgba(20, 124, 246, 0.90);
            color: #FFF;
           
            font-weight: 400;
            line-height: 24px;
        }

        .link-autorization {
            text-align: center;
            color: #7A7C7F;
        
            font-weight: 500;
            line-height: 24px;

            a {
                cursor: pointer;
                color: var(--butt, #147CF6); 
            &:hover{
                text-decoration: underline;
            }
            }
        }
    }

}