@import './style/desktop';
 @import'./style/tablet';
 @import'./style/mobile';
 @import'../shared/shared';
.ContainerForBar{
   background-color: #101014;
   width: 100%;
   position: fixed;
   z-index: 10;
   .right-menu-item{
      z-index: 10;
   }
   .tablet-menu-item{
      z-index: 10;
   }
   .left-menu{
      z-index: 10;
   }
} 