@media screen and (min-width:1024px) {
    .Second-slide {
        padding: 0 55px;
       margin-bottom: 76px;

        

        .carousel-item {
            .movie-card {
                margin-right: 20px;
                position: relative;
                cursor: pointer;

                img {
                    width: 317px;
                    height: 421px;
                    border-radius: 4px;
                    margin-bottom: 12px;
                }

                .movies-title {
                    overflow: hidden;
                    color: #FFF;
                    text-overflow: ellipsis;
                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    height: 49px;
                    line-height: 48px;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: unset;
                }

                &:hover {
                    img {
                        width: 317px;
                        height: 469px;

                    }

                    .movies-title {
                        display: none;
                    }

                    .hover-info {
                        opacity: 1;
                    }
                }

            }

            .hover-info {
                opacity: 0;
                cursor: auto;

                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4px;
                background: rgba(33, 35, 39, 0.95);
                width: 317px;
                height: 469px;
                padding: 13px;

                .movie-title {
                    color: #FFF;
                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #343434;
                    margin-bottom: 16px;
                }

                .imdb {
                    color: #FFF;

                    font-family: "Noto Sans Georgian";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 4px;
                }

                .genre {
                    color: #7A7C7F;
                    font-family: "Noto Sans Georgian";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 12px;
                }

                .description {
                    color: #FFF;
                    font-family: "Noto Sans Georgian";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    -webkit-line-clamp: 12;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    white-space: unset;
                }

                .watch-icons {

                    position: absolute;
                    bottom: 16px;

                    .watch-icon {
                        padding: 9.5px 11px;
                        cursor: pointer;
                        margin-right: 8px;

                        svg {
                            width: 18px;
                            height: 21px;
                        }
                    }
                }


            }

        }

        .carousel-control-prev {
            left: -55px;
            width: 55px;
            height: 469px;

        }

        .carousel-control-next {
            right: -55px;
            width: 55px;
            height: 469px;
        }
    }
.Third-slide, .Fourth-slide{
    padding: 0 55px;
    margin-bottom: 76px;
    .carousel-item {
        .Series-card {
            margin-right: 24px;
            position: relative;
            cursor: pointer;

            img {
                width: 427px;
height: 278px;
                border-radius: 4px;
                margin-bottom: 12px;
            }

            .movies-title {
                overflow: hidden;
                color: #FFF;
                text-overflow: ellipsis;
                font-family: "Noto Sans Georgian";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                height: 48px;
                line-height: 48px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                white-space: unset;
            }

            &:hover {
                img {
                    width: 427px;
                    height: 326px;

                }

                .movies-title {
                    display: none;
                }

                .hover-info {
                    opacity: 1;
                }
            }

        }

        .hover-info {
            opacity: 0;
            cursor: auto;

            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            background: rgba(33, 35, 39, 0.95);
            width: 427px;
height: 326px;
            padding: 13px;

            .movie-title {
                color: #FFF;
                font-family: "Noto Sans Georgian";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                padding-bottom: 16px;
                border-bottom: 1px solid #343434;
                margin-bottom: 16px;
            }

            .imdb {
                color: #FFF;

                font-family: "Noto Sans Georgian";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 4px;
            }

            .genre {
                color: #7A7C7F;
                font-family: "Noto Sans Georgian";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 12px;
            }

            .description {
                color: #FFF;
                font-family: "Noto Sans Georgian";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                white-space: unset;
            }

            .watch-icons {

                position: absolute;
                bottom: 16px;

                .watch-icon {
                    padding: 9.5px 11px;
                    cursor: pointer;
                    margin-right: 8px;

                    svg {
                        width: 18px;
                        height: 21px;
                    }
                }
            }


        }

    }
    .carousel-control-prev {
        left: -55px;
        width: 55px;
        height: 326px;

    }

    .carousel-control-next {
        right: -55px;
        width: 55px;
        height: 326px;
    }

}
.movies-type {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32px;

            span {
                color: #FFF;
                font-family: "Noto Sans Georgian";
                font-style: normal;

            }

            .movies-type-name {
                line-height: 32px;
                font-size: 26px;
                font-weight: 600;
                cursor: pointer;
            }

            .see-all {
                font-size: 16px;
                font-weight: 500;
                padding: 10px 16px;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
}