@media screen and (min-width:768px) and (max-width:1023px) {
   
    .Second-slide {
    
        padding: 0 32px;
        background-color: #17181C;
        .movies-type {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        span {
            color: #FFF;
            font-family: "Noto Sans Georgian";
            font-style: normal;

        }

        .movies-type-name {
            line-height: 32px;
            font-size: 22px;
            font-weight: 600;
            cursor: pointer;
        }

        .see-all {
            font-size: 14px;
            font-weight: 500;
            padding: 10px 16px;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .movie-card {
        margin-right: 20px;
.hover-info{
    display: none;
}
        img {
            width: 306.667px;
height: 388.757px;
            border-radius: 4px;
            margin-bottom: 11px;
        }

        div {
            overflow: hidden;
            color: #FFF;
            text-overflow: ellipsis;
            font-family: "Noto Sans Georgian";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            white-space: unset;
        }
    }
    .carousel-control-prev{
      
        left:-32px;
        width: 32px;
         height: 425px;
    }
    .carousel-control-next{
        right:-32px;
        width: 32px;
        height: 425px;
    }
}
}