@media screen and (min-width:768px) and (max-width:1023px) {
    .movie-list {
        .elements {
          padding-top: 72px;
          width: 100%;
         padding-left: 32px;
         padding-right: 32px;
        }
    
        .title {
          margin-top: 48px;
          padding: 0 3px 32px 3px;
          color: #FFF;
          font-family: "Noto Sans Georgian";
          font-size: 26px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
        }
    
        .filter {
          padding:0 3px;
          border-radius: 8px;
          margin-bottom: 56px;
          background: #212327;
          height: 72px;
          width: 100%;
         
        }
         .mobile-icon{
            display: none;
        }
        .list{
          width: 100%;
          padding-bottom: 76px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-row-gap: 40px;
          grid-column-gap: 19.88px;
          padding-bottom: 100px;
              .Series-card {
                  position: relative;
                  cursor: pointer;
    
                  img {
                      width: 100%;
                      height: 199.559px;    
                      border-radius: 4px;
                      margin-bottom: 8px;
                      object-fit: cover;
    
                  }
    
                  .movies-title {
                    color: #FFF;
font-family: "Noto Sans Georgian";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
                      -webkit-line-clamp: 1;
                      -webkit-box-orient: vertical;
                      display: -webkit-box;
                      overflow: hidden;
                      white-space: unset;
                  }
    
              }
    
              
    
          }
      }

}
.hover-info {
                  display: none;
              }